.section-stories {
  padding: 10rem 0;
  position: relative;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 5rem 0;
  }
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  .story {
    padding: 5rem;
    padding-left: 7rem;
  }
}
@media (max-width: 37.5em) {
  .story {
    padding: 3rem;
    padding-left: 5rem;
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
  transform: translateX(-5rem) scale(1.4);
  transition: all 0.5s;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(-5rem) scale(1);
  filter: blur(0.3rem) brightness(80%);
}
