.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0 20rem 0;
  margin-top: -20vh;
  margin-bottom: -10vh;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 20rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
@media (min-width: 112.5em) {
  .section-about {
    padding: 25rem 0 15rem 0;
  }
}

@media (max-width: 56.25em) {
  .section-about {
    padding: 30rem 0;
    /* margin-bottom: -25rem; */
    height: 95vh;
  }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(0.9);
  }
  .composition__photo {
    width: 100%;
  }
  .composition__photo--p2 {
    right: -6rem;
    top: 23rem;
    /* width: 75%; */
  }
  .composition__photo--p3 {
    top: 35rem;
    left: -4rem;
  }
}
@media only screen and (max-width: 700px) {
  .section-about {
    padding: 30rem 0;
    height: 90vh;
  }
  .paragraph-last {
    display: none;
  }
}
