.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.622),
      rgba(40, 180, 133, 0.659)
    ),
    url(../../../public/img/first.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 25%;
  left: 30%;
  text-transform: translate(-50%, -50%);
  text-align: center;
}
@media (min-width: 112.5em) {
  .header__text-box {
    left: 24%;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    height: 55vh;
    clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
  }
  .header__text-box {
    left: 25%;
  }
}
@media (max-width: 56.25em) {
  .header {
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
  }
  .header__text-box {
    left: 18%;
  }
}
@media only screen and (max-width: 700px) {
  .header__text-box {
    left: 18%;
  }
}
