.section-features {
  padding: 20rem 0;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.622),
      rgba(40, 180, 133, 0.659)
    ),
    url(../../../public/img/block2.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-5deg);
}
.section-features > * {
  transform: skewY(5deg);
}
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/* @media only screen and (max-width: 1200px) {
  .section-features {
    height: 65vh;
  }
} */
@media (max-width: 915px) {
  .section-features {
    padding: 5rem 0;
    /* height: 55vh; */
  }
}
/* @media only screen and (max-width: 700px) {
  .section-features {
    height: 65vh;
  }
} */
/* @media (max-width: 37.5em) {
  .section-features {
    height: 65vh;
  }
}
@media only screen and (max-width: 523px) {
  .section-features {
    height: 85vh;
  }
} */