.footer {
  background-color: #333;
  padding: 3rem 0;
  font-size: 1.4rem;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 3rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 3rem;
}
@media (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__logoimg {
  width: 10rem;
}
.footer__navigation {
  border-top: 0.1rem solid #eee;
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link,
.footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  background-color: #333;
}
.footer__link:hover,
.footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.1);
}
.footer__copyright {
  color: #f7f7f7;
  border-top: 0.1rem solid #eee;
  padding-top: 2rem;
  float: right;
}
